.free-space {
    height: 200px;
}

.workoutSpacing {
    height: 50px;
}

.sixth-width{
    width: 16.6%;
}

.width{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.box {
    margin-top: 40px;
    border-width: 2px;
    border-style: solid;
    

}

.background {
background-color: #2C3531;
}

.main-body{
    background-color: #d1e8e2;
    
}
