.free-space {
    height: 200px;
}

.workoutSpacing {
    height: 50px;
}

.sixth-width{
    width: 16.6%;
}

.priority-width{
    width: 100%;
    margin: auto;
    margin-top: 100px;

}

.box {
    color: #D9B08C;
    font-size: 30px;
    margin-top: 250px;
    padding: 30px;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: #2C3531;
    background-color: rgb(92, 88, 192) ;
    

}

.content-box-margins {
    margin-right: 100px;
}

.eighty-width {
    width: 80%;
}

.save-button {
    
}