.body-width {
    width: 90%;
}

.tenth-width {
    width: 12%;
}

.personal-info {
    margin-top: 90px;
    margin-left: 2%;
}

.info-personal-info {
    padding-top: 30px;
}

.workouts-for-each {
    margin-top: 90px;
    margin-left: 29.9%;
}

