.side-bar {
    color: #116466;
}

.side-bar-width{
    width: 10%;
    background-color: rgb(92, 88, 192); /* Green */
}

.background {
  background-color: white; /* Green */
}


.dropdown {
  position: relative;
  display: inline-block;
}

.logout-button {
  margin-top: 675px;
}

.welcome-tag{ 
margin-left: 300px;
}

