.box {
    border-width: 3px;
}

.view-workouts-box {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: #2C3531;
    background-color: rgb(92, 88, 192) ;
    

}