.full-width {
    width: 100%;
}

.three-fourths-width {
    width: 75%;
}
.half-width {
    width: 50%;
}

.third-width {
    width: 33%;
}

.fourth-width {
    width: 25%;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

.third-height {
    height: 33%;
}
